div.container-fluid
	div.sidebar.left
		div.well
			div.clip-filter.row-fluid
				span.input-append.btn-group.dropdown.span8
					input(id="appendedInputButton", 
						ng-model="filter.videoSegment.sourceTitle",
						type="text",
						placeholder="Choose Video",
						typeahead="value.sourceTitle for value in videoSegmentTypeahead($viewValue)", 
            typeahead-on-select='videoSegmentSelect($item)',
            on-blur="videoSegmentsBlur($index)").span3
					a(href="#", data-toggle="dropdown").btn.btn-primary.dropdown-toggle
						span.caret
					ul.dropdown-menu
						li(ng-repeat="segment in segments")
							a(ng-click="updateClipsWithSegmentChoice(segment)") {{segment.sourceTitle}}
				br
				br
			div.clips
				ul.nav.nav-list
					li(ng-repeat="clip in clips", mouseover="activeclip", ng-class="clip.selected ? 'selectedclip' : ''", ng-click="setCurrentClip(clip)", clips-loaded)
						ul.thumbnails
							li.span.thumbspan
								div.thumbnail
									img(ng-show="!clip.thumbFileName", ng-src="http://img.youtube.com/vi/{{clip.videoSegmentId}}/default.jpg")
									img(ng-show="clip.thumbFileName", ng-src="./images/{{clip.thumbFileName}}")							
							div.right.infoColumn							
								strong {{clip.duration | number:0 }} s	
								p {{clip.updated | date:'short'}}
	div.content.right.well
		div.current-clip-content
			div(ng-controller='YoutubeCtrl').player-console
				include includes/videoconsole
			div(ng-show="currClipIndex >= 0").tagging-console
				include includes/inputBlockThin
				alert(ng-repeat="error in errors", type="error.type", close="closeAlert($index)") {{error.msg}}
				button.btn.btn-inverse(ng-click='updateClip()', ng-disabled="!updateEnabled") Update Clip