
div.container-fluid.page    
  div#main.row-fluid
    //- span.span4
    //-   h2 {{playlist.items[playlist.position].skaterRef.name}}
    //-   div(ng-repeat="trick in playlist.items[playlist.position].tricks")
    //-     h3 {{trick.trickTypeRef.name}}
    div
      tabset
        tab(ng-repeat="tab in tabs", heading="{{tab.title}}", active="tab.active")          
      div(ng-show="tabs[0].active")
      div(ng-show="tabs[1].active").left
        form
          fieldset
            div.control-group
              label.control-label Playlist Title
              div.controls
                input(ng-model="newPlaylist.title", type="text").input-xlarge
            div.control-group
              label.control-label Music
              span.input-append.btn-group.dropdown
                input(id="appendedInputButton", 
                  ng-model="music.searchText",
                  type="text",
                  placeholder="",
                  typeahead="value.name for value in musicTypeahead($viewValue)", 
                  typeahead-on-select='musicSelected($item)',
                  on-blur="musicTypeaheadBlur($index)").span12
                a(href="#", data-toggle="dropdown").btn.btn-primary.dropdown-toggle
                  span.caret
                ul.dropdown-menu
                  li(ng-repeat="song in music.songs")
                    a(ng-click="musicSelected(song)") {{song.name}}                
            div.control-group            
              button.btn.btn-inverse(ng-click='savePlaylist()', ng-disabled="!savePlaylistEnabled()") Save Playlist
            div.control-group
              button.btn.btn-inverse(ng-click='clearPlaylist()') Clear Playlist

    div.video-player.right
      video-player(playlist="playlist", playstate="playstate")
    div
      div.playlist-scroller.well
        h3 Playlist
        ul.thumbnails
          li(ng-repeat="clip in playlist.items").span2.playlist-item
            div(mouseover="activeclip", ng-class="playlist.position == $index ? 'selectedclip' : ''", ng-click="selectClip($index)").thumbnail.parent-hover
              span(ng-click="removeClipFromPlaylist(clip); $event.stopPropagation();", showonhoverparent).icon-remove-circle.icon-3x.addVideoControl.delete-playlist-item                             
              img(src="{{'./images/' + clip.thumbFileName}}")
              p(ng-repeat="trick in clip.tricks")
                {{trick.trickTypeRef.name}} 
                           
              
  div#side.row-fluid
    span.input-append.btn-group.dropdown
      input(id="appendedInputButton", 
        ng-model="searchText",
        type="text",
        placeholder="Choose Skater",
        typeahead="value.name for value in skaterTypeahead($viewValue)", 
        typeahead-on-select='skaterSelected($item)',
        on-blur="skatersTypeaheadBlur($index)").span12
      a(href="#", data-toggle="dropdown").btn.btn-primary.dropdown-toggle
        span.caret
      ul.dropdown-menu
        li(ng-repeat="skater in skaters")
          a(ng-click="updateClipsWithSkaterChoice(skater)") {{skater.name}}
    div.sidebar-contents
      table.table
        tr(ng-repeat="clip in searchClips", mouseover="activeclip", ng-click="playSearchResult($index)")         
          td.add-button-column
            span(ng-click="addClipToPlaylist(clip); $event.stopPropagation();", showonhoverparentparent, style="display:none").icon-plus-sign.icon-3x.addVideoControl
          td
            div       
              img(src="{{'./images/' + clip.thumbFileName}}")

          td
            p(ng-repeat="trick in clip.tricks")
              {{trick.trickTypeRef.name}}
          td.like-button-column 
            div(style="text-align: center;")
              span(ng-click="likeClip(clip); $event.stopPropagation();", ng-class="clip.votes.indexOf(currentUserId) >= 0 ? 'already-voted' : ''").icon-chevron-up.icon-2x.addVideoControl
              h3(ng-show="clip.score > 0", ng-click="likeClip(clip); $event.stopPropagation();").addVideoControl {{clip.score}}
              h5(ng-show="!clip.score || clip.score == 0", ng-click="likeClip(clip); $event.stopPropagation();").addVideoControl LIKE
        