form.form-inline
  fieldset(ng-repeat="input in inputs").control-group
    div(ng-show="!inputs[$index].multipleField")
      label.control-label {{input.name}}
      div.controls
        span
          input(ng-model="input.value", 
                type="{{input.type}}", 
                index="{{$index}}", 
                structured-input, 
                typeahead="value for value in defaultTypeahed($viewValue)", 
                typeahead-on-select='onTypeaheadSelect($index)').input-xlarge
          span &nbsp;&nbsp;
          i(ng-show="inputs[$index].selectedObj != null").icon-check-sign
          span(ng-show='showAddEntity($index)', data-ng-animate="'fade'", style="display:none")          
            &nbsp;&nbsp;&nbsp;&nbsp; "{{input.value}}" not found. &nbsp;&nbsp;&nbsp;&nbsp;                
            button.btn.btn-success.btn-small(ng-click='addNewEntity($index)') Add new {{input.entityName}} to the Sk8abase
          span.help-block {{input.helpText}}

    // multiple field option
    div(ng-show="inputs[$index].multipleField")
      label.control-label {{ input.getName() }}
      div.controls
        input(ng-model="input.value", 
              type="{{input.type}}", 
              index="{{$index}}", 
              structured-input, 
              typeahead="value for value in defaultTypeahed($viewValue)", 
              typeahead-on-select='onTypeaheadSelect($index)',
              on-focus="inputs[$index].focused=true",
              on-blur="inputs[$index].focused=false").input-medium
        span &nbsp;&nbsp;
        i(ng-show="inputs[$index].selectedObj != null").icon-check-sign
        span(ng-show='showAddEntity($index)', style="display:none")          
          &nbsp;&nbsp;&nbsp;&nbsp; "{{input.value}}" not found. &nbsp;&nbsp;&nbsp;&nbsp;                
          button.btn.btn-success.btn-small(ng-click='addNewEntity($index)') Add new {{input.entityName}} to the Sk8abase
        span(ng-show='!showAddEntity($index)') 
          span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          label.checkbox          
            input(type="checkbox")
            label.checkbox Switch
          //- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          //- span.input-small.dropdown Terrain:&nbsp;&nbsp;&nbsp;
          //-   a.dropdown-toggle Terrain Type
          //-   ul.dropdown-menu
          //-     li
          //-       a Choice 1
          //-     li
          //-       a Choice 2
          //-     li
          //-       a Choice 3

      div(ng-show="!inputs[$index].isLastTrick", ng-class="{'combo-true' : inputs[$index].isComboTrick}").trick-linkage
        i(ng-click="inputs[$index].isComboTrick = !inputs[$index].isComboTrick").icon-link.icon-2x
      button(ng-show="inputs[$index].isLastTrick", ng-click="addAnotherTrick($index)") Add another trick
      