form.form-inline
  fieldset(ng-repeat="input in inputs")    
    div(ng-show="!inputs[$index].multipleField").control-group
      label.control-label.strong {{input.name}}
      div.controls
        span
          input(ng-model="input.value", 
                type="{{input.type}}", 
                index="{{$index}}", 
                structured-input, 
                typeahead="value for value in defaultTypeahed($viewValue)", 
                typeahead-on-select='onTypeaheadSelect($index)',
                on-blur="typeaheadBlur($index)").input-xlarge
          span &nbsp;&nbsp;
          i(ng-show="inputs[$index].selectedObj != null").icon-check-sign
          span(ng-show='showAddEntity($index)', data-ng-animate="'fade'", style="display:none").important-text.help-block          
            &nbsp;&nbsp;&nbsp;&nbsp; No matching {{input.entityName}}s &nbsp;&nbsp;&nbsp;&nbsp;                
            button.btn.btn-danger.btn-small(ng-click='addNewEntity($index)') Add {{input.value}} to the Sk8abase

    // multiple field option
    div(ng-show="inputs[$index].multipleField",
        ng-mouseenter="mouseEnteredInput($index)",
        ng-mouseleave="mouseLeftInput($index)").control-group
      label.control-label.strong {{ input.getName() }} &nbsp;&nbsp;&nbsp;&nbsp;
      i(ng-show="inputs[$index].isFirstTrick", ng-click="addAnotherTrick($index)").icon-plus-sign.icon-2x.add-action
      div().controls
        input(ng-model="input.value", 
              type="{{input.type}}", 
              index="{{$index}}", 
              structured-input, 
              typeahead="value for value in defaultTypeahed($viewValue)", 
              typeahead-on-select='onTypeaheadSelect($index)',
              on-focus="inputs[$index].focused=true",
              on-blur="typeaheadBlur($index)").input-medium
        span &nbsp;&nbsp;
        i(ng-show="inputs[$index].selectedObj != null").icon-check-sign
        i(ng-click="removeTrick($index)", ng-show="!inputs[$index].isFirstTrick").icon-minus-sign.icon-2x.remove-action.remove-trick      
        span(ng-show='showAddEntity($index)', style="display:none").important-text.help-block
          &nbsp;&nbsp;&nbsp;&nbsp; No matching {{input.entityName}}s &nbsp;&nbsp;&nbsp;&nbsp;                
          button.btn.btn-danger.btn-small(ng-click='addNewEntity($index)') Add {{input.value}} to the Sk8abase        
          //- span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          //- span.input-small.dropdown Terrain:&nbsp;&nbsp;&nbsp;
          //-   a.dropdown-toggle Terrain Type
          //-   ul.dropdown-menu
          //-     li
          //-       a Choice 1
          //-     li
          //-       a Choice 2
          //-     li
          //-       a Choice 3
        